"*":
  core:
    disabledPackages: [
      "language-lua"
      "language-fsharp"
      "markdown-pdf"
      "tabs-to-spaces"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "gloom"
    ]
  editor:
    fontFamily: "Liberation Mono"
    fontSize: 13
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "0ac75666-1f1f-9772-1291-2e44eb929691"
